.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

#ann1 {
    color: black;
    position: relative;
    z-index: 10;
    left: 350px;
    top: 150px;
    inline-size: 150px;
    word-wrap: break-word;
}